.bigDiv { 
    justify-content: flex-end;
}

.form { 
    background-color: teal;
    /* justify-content: flex-end; */
    width: 65%;
    height: px;
    text-align: center;
}

.url { 
    width: 90%;
    text-align: left;
    margin-top: 5px;
    padding: 4px;
}

label { 
    cursor: pointer;
    width: 25px
}
input { 
    background-color: whitesmoke;
    color:#204060;
}

.formLabels { 
    background-color: #a43597;
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.radioButtons { 
    width: 25px;
    height: 25px;
    margin-bottom: 10px;

}

.radios input[type=radio]{ 
    /* display: none; */
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.radios input[type=radio]:checked + span { 
    font-weight: bold;
    background-color: black;
}

.goButton { 
    cursor: pointer;
    width: 50px;
    
}
.goButton:hover { 
    background-color: tomato;
    color: whitesmoke
}

.textArea { 
    margin-top: 5px;
    width: 550px;
    height: 9vw;
    align-self: flex-start;
    text-align: left;
}